{% extends "layout.html" %}
{% block content%}

	<div id='frame-1'>
		{%for i in range(data|length)%}
			{%set d_id='p'+i|string%}
			{%set draggable='draggable=true'%}
			{%set ondragstart='ondragstart=ondragstart_handler(event,'+ d_id+')'%}
			{%set ondrag='ondrag=ondrag_handler(event,"'+ d_id+'")'%}
			{%set ondragend='ondragend=ondragend_handler(event,"'+ d_id+'")'%}
			{%set style='style=position:absolute;top:'+data[i].y|string+'px;left:'+data[i].x|string+'px;'%}
			<div id={{d_id}} class="tagElements"
			{{style}} {{draggable}} {{ondragstart}} {{ondrag}} {{ondragend}} >

				<table class="table table-bordered ">
					<thead>
						<tr>
							<th>tag name..</th>
							<th>			<button type="button" id="popup_{{d_id}}" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="{{d_id}}" onclick="popupTrigger( {{d_id}} )">...</button>	</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>tag_node</td>
							<td>value</td>
						</tr>
						<tr>
							<td>tag_node</td>
							<td>value</td>
						</tr>

						<tr>
							<td>
												<!-- Modal -->


			</table>
							</td>
						</tr>

					</tbody>





				
	</div>
		{%endfor%}
		

		{% include 'popup.html'%}

	</div>




	<div class='bottom_panel'>
		<button class="btn-primary" data-toggle="tooltip" data-placement="bottom" title="save the current Layout" onclick="saveBtn()">
		Save</button>
		<button class="btn-warning" data-toggle="tooltip" data-placement="bottom" title="add a new Object" onclick="addElement()">Add</button>
		<button class="btn-danger" data-toggle="tooltip" data-placement="bottom" title="delete an Object" onclick="delBtn()">Delete</button>
				<button class="btn-danger" data-toggle="tooltip" data-placement="bottom" title="delete an Object" onclick="countingclass('tagElements')">Testing</button>

	</div>
{%endblock%}
