{% extends "layout.html" %}
{% block content%}

	<div id='frame-1'>
		{%for i in range(data|length)%}
			{%set d_id='p'+i|string%}
			{%set draggable='draggable=true'%}
			{%set ondragstart='ondragstart=ondragstart_handler(event,'+ d_id+')'%}
			{%set ondrag='ondrag=ondrag_handler(event,"'+ d_id+'")'%}
			{%set ondragend='ondragend=ondragend_handler(event,"'+ d_id+'")'%}
			{%set style='style=position:absolute;top:'+data[i].y|string+'px;left:'+data[i].x|string+'px;'%}
			<div id={{d_id}} class="tagElements"
			{{style}} {{draggable}} {{ondragstart}} {{ondrag}} {{ondragend}} >

				<table class="table table-bordered ">
					<thead class="table-primary" colspan="2">
						<tr>
							<th colspan="2">tag name..<button type="button" id="popup_{{d_id}}" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#exampleModal" data-whatever="{{d_id}}" onclick="popupTrigger( {{d_id}} )">...</button></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>tag_node</td>
							<td>value</td>
						</tr>
					</tbody>
				</table>
			
	</div>
		{%endfor%}
		{% include 'popup.html'%}
	</div>

	


	<div class='bottom_panel'>

<div class="accordion" id="accordionExample">
  <div>
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Operation Panel
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
    
  					<button class="btn-primary" data-toggle="tooltip" data-placement="bottom" title="save the current Layout" onclick="saveBtn()">
		Save</button>
		<button class="btn-warning" data-toggle="tooltip" data-placement="bottom" title="add a new Object" onclick="addElement()">Add</button>
		<button class="btn-danger" data-toggle="tooltip" data-placement="bottom" title="delete an Object" onclick="delBtn()">Delete</button>
				<button class="btn-danger" data-toggle="tooltip" data-placement="bottom" title="delete an Object" onclick="countingclass('tagElements')">Testing</button>
    
    </div>
  </div>
  </div>





	</div>



{%endblock%}
